{% extends 'base.html'%}

{%block title %}
    Login
{% endblock %}

{% block body %}
<div class="form">
    <form action="/signin" method="post">
        <h2>Login</h2>
        {{form.csrf_token}}
        <p>
            {{form.name.label}}
            <br>
            {{form.name}}
        </p>
        <p>
            {{form.password.label}}
            <br>
            {{form.password}}
        </p>
        {{form.signin(value="Login")}}
    </form>
</div>
<button  id="home_page" type="button" onclick="document.location='/'">Home Page</button>
   
{% endblock %}